{{ define "main" }}

<button class="btn">default button</button>
<button class="btn btn-primary">primary button</button>
<button class="btn btn-link">link button</button>

<header>header
</header>
<nav>
  <a href="#">News</a>
  <a href="#">FAQ</a>
  <a href="#">Contact</a>
  <input placeholder="search" type="text">
</nav>
<section>
  <article>
    <img src="https://placeholder.pics/svg/360x280" alt="">
  </article>
  <article>article2</article>
  <article>article3</article>
</section>
<section>section2</section>
<section>section3</section>
<aside>aside</aside>
<nav>
  <a href="#">Health</a>
  <a href="#">Legal</a>
  <a href="#">Politics</a>
  <a href="#">Science</a>
  <a href="#">Grow</a>
  <a href="#">Taste</a>
  <a href="#">Business</a>
</nav>
<footer></footer>

{{end}}